DATABASE_URL="database_url_here"

NEXT_PUBLIC_APP_URL="app_url_here"

NEXTAUTH_SECRET="nextauth_secret_here"
NEXTAUTH_URL="url_here"

AUTH_GOOGLE_ID="auth_google_id_here"
AUTH_GOOGLE_SECRET="auth_google_secret_here"

AUTH_DISCORD_ID="auth_discord_id_here"
AUTH_DISCORD_SECRET="auth_discord_secret_here"

RESEND_API_KEY="resend_api_key_here"

MUSICBRAINZ_USER_AGENT="user_agent_here"

EMAIL_FROM="email_from_here"

CRON_SECRET="cron_secret_here"